<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'TLGCC.Name'}}"/></h1>
      <div class="grid grid-5col">
        <div class="resource">
          <label for="data.cast.value" class="resource-label">Cast Time</label>
          <input type="text" name="data.cast.value" value="{{data.cast.value}}" data-dtype="String"/>
        </div>

        <div class="resource">
          <label for="data.range.value" class="resource-label">{{localize data.range.label}}</label>
          <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String"/>
        </div>

        <div class="resource grid-span-2">
          <label for="data.duration.value" class="resource-label">{{localize data.duration.label}}</label>
          <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.spell.spelllevel" class="resource-label">Level</label>
          <input type="text" name="data.spell.spelllevel" value="{{data.spell.spelllevel}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="data.savevalue.value" class="resource-label">SV</label>
          <input type="text" name="data.savevalue.value" value="{{data.savevalue.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.spellresist.value" class="resource-label">SR</label>
          <input type="text" name="data.spellresist.value" value="{{data.spellresist.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.spellcomp.value" class="resource-label">Comp.</label>
          <input type="text" name="data.spellcomp.value" value="{{data.spellcomp.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.spelldmg.value" class="resource-label">Damage</label>
          <input type="text" name="data.spelldmg.value" value="{{data.spelldmg.value}}" data-dtype="String"/>
        </div>
        
        <div class="resource">
          <label for="data.prepared.value" class="resource-label">{{localize data.prepared.label}}</label>
          <input type="number" name="data.prepared.value" value="{{data.prepared.value}}" data-dtype="Number"/>
        </div>
        <div class="resource grid-span-3">
          <label for="data.component.value" class="resource-label">Components</label>
          <input type="text" name="data.component.value" value="{{data.component.value}}" data-dtype="String"/>
        </div>
        <div class="resource grid-span-2">
          <label for="data.class.value" class="resource-label">{{localize data.class.label}}</label>
          <input type="text" name="data.class.value" value="{{data.class.value}}" data-dtype="String"/>
        </div>

      </div>
    </div>
    
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="grid grid-2col">
      <div class="resource grid-span-2">      
    <label for="data.spell.summary" class="resource-label">{{localize 'TLGCC.spellSummary'}}</label>
          <input type="text" name="data.spell.summary" value="{{data.spell.summary}}" data-dtype="String"/></div></div>
    {{!-- Description Tab --}}
    <div class="description">
      <h2 title="Click the pencil icon at far right to edit. !!Note Please place full spell data below until we get roll data working">Spell Description - Hover for important alert</h2>
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>

</form>
